<!doctype html>
<html>
<head>
	<title>{{ name }}</title>
	<meta charset="utf-8" />

	<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet">
	<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
	<link rel="manifest" href="{{pathname}}manifest.json">
	<link rel="icon" type="image/png" sizes="32x32" href="{{pathname}}logo/32">

	<style>
		body {
			background: {{background_color}};
		}

		body > .grid {
			height: 100%;
		}

		.icon {
			max-width: 100%;
		}
	</style>
</head>
<body>
{{{body}}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{pathname}}jquery.mobile.custom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.5.1/qs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script>

	var urlParams = typeof URLSearchParams === "function" ? new URLSearchParams(location.search) : { get: function() { return undefined; } }

	function copyToClipboard(text) {
		let tempImput = $("<input>");
		$("body").append(tempImput);
		tempImput.val(text).select();
		document.execCommand("copy");
		tempImput.remove();
	};

	function copyListToClipboard(element) {
		copyToClipboard($(element).parent().parent().children("td").children("a")[0].href);
	};

	function copyGalleryToClipboard(element) {
		copyToClipboard($(element).parent().parent().find("a")[0].href);
	};
	
	
	function webShareList(element) {
		navigator.share({ title: "Shitty Share", url: $(element).parent().parent().children("td").children("a")[0].href });
	};

	function webShareGallery(element) {
		navigator.share({ title: "Shitty Share", url: $(element).parent().parent().children("a")[0].href });
	};

	function startRename(nonce, name) {
		let newName = prompt("Please proivide new filename", name);
		if (newName) {
			$('<form action="{{pathname}}rename" method="POST"/>')
			.append($(`<input type="hidden" name="nonce" value="${nonce}">`))
			.append($(`<input type="hidden" name="name" value="${newName}">`))
			.appendTo($(document.body))
			.submit();
		};
	};

	function startDelete(nonce, name) {
		if (confirm(`Please confirm you want to delete the ${name} file.`)) {
			$(`<form action="{{pathname}}delete/${nonce}" method="POST"/>`)
			.appendTo($(document.body))
			.submit();
		};
	};

	$(function() {

		if ('share' in navigator) {
			$(".webshare").show();
		};
		
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('{{pathname}}service-worker.js', {scope: './'});
		};
		
		$("img.lazy").lazyload({
			effect: "fadeIn"
		});
		
		$(".ui.accordion").accordion();

		$(".clickpopupactivator").popup({
			inline: true,
			on: 'click'
		});

		$(".alertable").on( "click", function(e) {
			e.preventDefault();
			copyToClipboard($(this)[0].href);
			alert("Link copied to clipboard."); /* This realy should be something nicer then alert. Dunno what v2 ;p */
		});

		$.event.special.swipe.durationThreshold = 100;

		$( "div.ui.grid" ).on( "swiperight", function(e){
			console.log("swiperight");
			if ($("a.ui.icon.button.pageLeft").not(".disabled").length) { $("a.ui.icon.button.pageLeft").not(".right").not(".disabled")[0].click() }
			else if ($("a.ui.button.active").prev().length) { $("a.ui.button.active").prev()[0].click() }
		});
		$( "div.ui.grid" ).on( "swipeleft", function(){
			console.log("swipeleft");
			if ($("a.ui.icon.button.pageRight").not(".disabled").length) { $("a.ui.icon.button.pageRight").not(".disabled")[0].click() }
			else if ($("a.ui.button.active").next().length) { $("a.ui.button.active").next()[0].click() }
		});
{{#eq pageTemplate "upload"}}{{else}}
		$("div.ui.fluid.four.basic.buttons").children().last().on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
			e.preventDefault();
			e.stopPropagation();
		})
		.on('dragenter', function() {
			$("div.ui.fluid.four.basic.buttons").children().last()[0].click();
		})
{{/eq}}
	});
</script>
{{{_sections.script}}}
{{{_sections.filters}}}
</body>
</html>