<div class="ui middle aligned center aligned grid">
	<div class="column">
		<div class="ui fluid centered brown card" style="max-width: 350px">
			<div class="ui content center aligned icon">
				<img class="icon" src="{{pathname}}logo/main">
				<div class="header" style="color: {{ name_color }} !important; font-size: 175%">{{ name }}</div>
			</div>
			<p class="ui content text" style="font-size: 120%">
				{{ title }}
			</p>
			<form class="ui content" action="{{pathname}}login" method="post">
				{{#if authed}}
					{{> navigation }}
				{{else}}
					<div class="ui action fluid input">
						<input type="password" placeholder="Password" name="password">
						<button type="submit" class="ui basic button">Submit</button>
					</div>
					
					{{#if oidc}}
						<a href="/oidc/redirect">Login with {{oidcProviderName}}</a>
					{{/if}}
				{{/if}}
			</form>
			<p class="ui content text">
				<small>{{ disclaimer }}</small>
			</p>
		</div>
	</div>
</div>
