<div class="ui middle aligned center aligned grid">
	<div class="column">
		<div class="ui centered brown card">
			<div class="ui content center aligned icon">
				<img class="icon" src="/{{ config.logo }}">
				<div class="header" style="color: {{ config.name_color }} !important; font-size: 175%">{{ config.name }}</div>
			</div>
			<p class="ui content text" style="font-size: 120%">
				{{ config.title }}
			</p>
			<div class="ui content">
				<div class="ui three basic buttons">
					<a href="/gallery" class="ui button">Gallery</a>
					<a href="/list" class="ui button">List</a>
					<a href="/upload" class="ui button">Upload</a>
				</div>
			</div>
			<p class="ui content text">
				<small>{{ config.disclaimer }}</small>
			</p>
		</div>
	</div>
</div>