<div class="ui middle aligned center aligned grid">
	<div class="column">
		<div class="ui fluid centered brown card" style="max-width: 350px">
			<div class="ui content center aligned icon">
				<img class="icon" src="{{pathname}}{{ config.logo }}">
				<div class="header" style="color: {{ config.name_color }} !important; font-size: 175%">{{ config.name }}</div>
			</div>
			<p class="ui content text" style="font-size: 120%">
				{{ config.title }}
			</p>
			<form class="ui content" action="{{pathname}}login" method="post">
				{{#if authed}}
					{{> navigation }}
				{{else}}
					<div class="ui action fluid input">
						<input type="password" placeholder="Password" name="password">
						<button type="submit" class="ui basic button">Submit</button>
					</div>
				{{/if}}
			</form>
			<p class="ui content text">
				<small>{{ config.disclaimer }}</small>
			</p>
		</div>
	</div>
</div>