<div class="ui grid">
	<div class="column" style="margin: 2rem; padding-bottom: 2rem;">
		<div class="ui centered fluid card">
			<div class="ui content center aligned icon">
				{{> navigation }}
			</div>
			<div class="ui content center aligned">
				{{> filters }}
				{{> pagination }}
			</div>
			<div class="ui content">
				<table class="ui fluid celled striped very compact table">
					<thead>
						<tr>
							<th>Filename</th>
							<th>Last modified</th>
							<th>Size</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#each files}}
							<tr>
								<td>
									<a href="{{@root.pathname}}l/{{name}}" class="alertable">{{name}} -> {{c}}</a>
									<div class="ui right floated mini icon buttons">
										<div onclick="copyLinkToClipboard(this)" class="ui primary button"><i class="copy outline icon"></i></div>
										<a href="{{@root.pathname}}l/{{name}}" class="ui secondary button"><i class="external icon"></i></a>
									</div>
								</td>
								<td class="collapsing">{{dateformat mtime}}</td>
								<td class="collapsing">{{fileSize size}}</td>
								<td class="right aligned collapsing">
									<div onclick="startRename('{{nonce}}','{{name}}')" class="ui mini button"><i class="edit icon"></i>Rename</div>
									<div onclick="startDelete('{{nonce}}','{{name}}')" class="ui mini negative button"><i class="eraser icon"></i>Delete</div>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<div class="ui content center aligned">
				{{> pagination }}
			</div>
		</div>
	</div>
</div>
