<div class="ui grid">
	<div class="column" style="margin: 2rem; padding-bottom: 2rem;">
		<div class="ui centered fluid card">
			<div class="ui content center aligned icon">
				{{> navigation }}
			</div>
			<div class="ui content center aligned">
				{{> filters }}
				{{> pagination }}
			</div>
			<div class="ui content">
				<table class="ui fluid celled striped very compact table">
					<thead>
						<tr>
							<th>Filename</th>
							<th>Last modified</th>
							<th>Size</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#each files}}
							<tr>
								<td>
									<a href="{{@root.pathname}}{{name}}">{{name}}</a>
								</td>
								<td class="collapsing">{{dateformat mtime}}</td>
								<td class="collapsing">{{fileSize size}}</td>
								<td class="right aligned collapsing">
									<div onclick="copyListToClipboard(this)" class="ui mini icon primary button" title="Copy url to clipboard"><i class="copy outline icon"></i></div>
									<div onclick="webShareList(this)" class="ui mini icon button webshare" title="Share" style="display: none;"><i class="share square icon"></i></div>
									{{#lessThan size @root.maxPasteSize}}
										<a href="{{@root.pathname}}paste/{{name}}" class="ui mini icon button" title="Open in paste view"><i class="code icon"></i></a>
									{{else}}
										<span title="File too large to view or edit ({{fileSize size}})"><a href="" class="ui mini icon button disabled"><i class="code icon"></i></a></span>
									{{/lessThan}}
									<div class="ui mini icon button clickpopupactivator" data-position="left center"><i class="icon settings" title="Options"></i></div>
									<div class="ui flowing popup transition hidden">
										<div class="ui mini labeled icon buttons">
											{{#lessThan size @root.maxPasteSize}}<div onclick="startEditor('{{@root.pathname}}edit/{{name}}')" class="ui primary button"><i class="edit icon"></i>Edit</div>{{/lessThan}}
											<div onclick="startRename('{{nonce}}','{{name}}')" class="ui button"><i class="pencil icon"></i>Rename</div>
											<div onclick="startDelete('{{nonce}}','{{name}}')" class="ui negative button"><i class="eraser icon"></i>Delete</div>
										</div>
									</div>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<div class="ui content center aligned">
				{{> pagination }}
			</div>
		</div>
	</div>
</div>
