<div class="ui grid">
	<div class="column" style="margin: 2rem; padding-bottom: 2rem;">
		<div class="ui centered fluid card">
			<div class="ui content center aligned icon">
				{{> navigation }}
			</div>
			<div class="ui content center aligned">
				{{> filters }}
				{{> pagination }}
			</div>
			<div class="ui content">
				<table class="ui fluid celled striped very compact table">
					<thead>
						<tr>
							<th>Filename</th>
							<th>Last modified</th>
							<th>Size</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#each files}}
							<tr>
								<td>
									<a href="{{@root.pathname}}{{name}}">{{name}}</a>
								</td>
								<td class="collapsing">{{dateformat mtime}}</td>
								<td class="collapsing">{{fileSize size}}</td>
								<td class="right aligned collapsing">
									<div class="ui mini icon buttons">
										<div onclick="copyListToClipboard(this)" class="ui primary button"><i class="copy outline icon"></i></div>
										<a href="{{@root.pathname}}paste/{{name}}" class="ui button"><i class="code icon"></i></a>
										<div class="ui button clickpopupactivator" data-position="left center"><i class="icon settings"></i></div>
										<div class="ui flowing popup transition hidden">
											<div class="ui mini labeled icon buttons">
												<div onclick="startRename('{{nonce}}','{{name}}')" class="ui button"><i class="edit icon"></i>Rename</div>
												<div onclick="startDelete('{{nonce}}','{{name}}')" class="ui negative button"><i class="eraser icon"></i>Delete</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<div class="ui content center aligned">
				{{> pagination }}
			</div>
		</div>
	</div>
</div>
