<div class="ui middle aligned center aligned grid">
	<div class="column">
		<div class="ui centered brown card">
			<div class="ui content center aligned icon">
				<img class="icon" src="{{pathname}}{{ config.logo }}">
				<div class="header" style="color: {{ config.name_color }} !important; font-size: 175%">{{ config.name }}</div>
			</div>
			<div class="ui content center aligned">
				{{> navigation }}
			</div>
			<div class="ui content text">
				<form class="ui basic form segment left aligned" action="{{pathname}}upload" method="post" enctype="multipart/form-data">
					<div class="field">
						<label for="ffile">Choose, drop or paste file</label>
						<div class="ui fluid file input action">
							<input type="text" readonly placeholder="File">
							<input type="file" id="ffile" name="file" autocomplete="off">
							<div class="ui button">
								Select...
							</div>
						</div>
					</div>
					<div class="field">
						<label for="name">Custom filename (optional)</label>
						<input type="text" name="name" placeholder="Custom filename (optional)">
					</div>
					<input type="hidden" name="online" value="yes">
					<button class="ui fluid primary button" type="submit">Submit</button>
					<div class="ui indicating progress" id="progress">
						<div class="bar">
							<div class="progress"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<style>
	.ui.file.input input[type="file"] {
		display: none;
	}
</style>